body {
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;
    word-break: break-word;
}

/* reset a-scrollbar width */
.arco-scrollbar-track-direction-vertical {
    width: 7px;
}

.arco-scrollbar-thumb-direction-vertical .arco-scrollbar-thumb-bar {
    width: 4px;
}

.arco-scrollbar-track-direction-horizontal {
    height: 7px;
}

.arco-scrollbar-thumb-direction-horizontal .arco-scrollbar-thumb-bar {
    height: 4px;
}